In [38]:
from tensorflow.keras.layers import Dense
from tensorflow.keras.callbacks import EarlyStopping,TensorBoard
import datetime
import tensorflow as tf
from tensorflow.keras.models import Sequential
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler,LabelEncoder,MinMaxScaler
import pickle as pkl
from tensorflow.keras.models import load_model

In [2]:
#load model  pkl file 
model=load_model('model.h5')

#load encoder and scaler pkl file 
with open('LabelEncoder_gender.pkl','rb') as file:
    LabelEncoder_gender=pkl.load(file)


with open('scaler.pkl','rb') as file:
    scaler=pkl.load(file)

with open('OneHotEncoder.pkl','rb') as file:
    LabelEncoder_geo=pkl.load(file)

In [3]:
with open('OneHotEncoder.pkl','rb') as file:
    LabelEncoder_geo=pkl.load(file)

In [4]:
LabelEncoder_geo

OneHotEncoder(sparse=False, sparse_output=False)

In [5]:
dfff=pd.read_csv("E:\DATA SETS\ANN\ANN_classification\data\Churn_Modelling.csv")

In [6]:
dfff.columns

Index(['conRowNumber', 'CustomerId', 'Surname', 'CreditScore', 'Geography',
       'Gender', 'Age', 'Tenure', 'Balance', 'NumOfProducts', 'HasCrCard',
       'IsActiveMember', 'EstimatedSalary', 'Exited'],
      dtype='object')

In [7]:
#input date
input_data={
    'CreditScore':600,
    'Geography':'France',
    'Age':25,
    'Gender':'Male',
    'Tenure':3,
    'Balance':60000,
    'NumOfProducts':2,
    'HasCrCard':1,
    'IsActiveMember':1,
    'EstimatedSalary':24000
}

In [8]:
 #ONEHOT ENCODING on 

geo_encoded=LabelEncoder_geo.transform([[input_data["Geography"]]])

e:\mlprojects\venv\lib\site-packages\sklearn\base.py:465: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

In [9]:
geo_encoded

array([[1., 0., 0.]])

In [10]:
geo_df=pd.DataFrame(geo_encoded,columns=LabelEncoder_geo.get_feature_names_out(['Geography']))

In [11]:
geo_df

   Geography_France  Geography_Germany  Geography_Spain
0               1.0                0.0              0.0

In [12]:
input_data=pd.DataFrame([input_data])

In [13]:
#input_data=pd.concat([input_data.reset_index(drop=True),geo_df],axis=1)

In [14]:
input_data

,CreditScore,Geography,Age,Gender,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,600,France,25,Male,3,60000,2,1,1,24000

In [15]:
input_data["Gender"]=LabelEncoder_gender.transform([input_data["Gender"]])

e:\mlprojects\venv\lib\site-packages\sklearn\preprocessing\_label.py:132: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, dtype=self.classes_.dtype, warn=True)

In [16]:
input_data

,CreditScore,Geography,Age,Gender,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,600,France,25,1,3,60000,2,1,1,24000

In [17]:
input_data=pd.concat([input_data.drop("Geography",axis=1),geo_df],axis=1)

In [18]:
with open('scaler.pkl','rb') as file:
    scalers=pkl.load(file)

In [22]:
input_data=input_data[['CreditScore','Gender','Age','Tenure','Balance','NumOfProducts','HasCrCard','IsActiveMember','EstimatedSalary','Geography_France','Geography_Germany','Geography_Spain']]

In [23]:
input_data

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain
0,600,1,25,3,60000,2,1,1,24000,1.0,0.0,0.0

In [25]:
#scaling the input data
input_scaled=scalers.transform(input_data)

In [26]:
input_scaled

array([[-0.52217554,  0.91555191, -1.32788261, -0.69338663, -0.250067  ,
         0.8005728 ,  0.64265045,  0.97851643, -1.31500836,  0.98637848,
        -0.57295135, -0.57119169]])

In [27]:
#prediction 
prediction=model.predict(input_scaled)

1/1 [==============================] - 3s 3s/step

In [31]:
predictions=prediction[0][0]

In [32]:
predictions

0.01067458

In [34]:
if predictions > 0.5:
    print("Customer is likely to churn")
else:
    print("customer is not likely to churn")

customer is not likely to churn

In [37]:
import streamlit as st